body{
    background-color: rgb(50, 57, 65);
}

#botonmati{
    cursor:pointer;
    float: left;
    

}

#botonmarian{
    cursor:pointer;
    float: right;
    
}


h1{
    color: rgb(196, 195, 146);
    text-align: center;
    font-size: 75px;
    font-family: monospace;
    float: auto;
    border-color: red;
    margin: 0;
    padding: 0;
    
    
}

.iniciodepagina{
    display: flex;
    align-items:center;
    gap: 17%;
}

#btn{
    cursor:pointer;
    background-color: rgb(159, 202, 202);
    transition: background-color 0.5s ease;

}

#btn:hover{
    background-color: rgb(255, 255, 255);
}

h2{
    color: rgb(110, 173, 173);
    text-align: center;
    font-size: 23px;
    font-family: sans-serif;
    float: auto;
}

h3{
    background-color: rgb(44, 43, 43);
    color: rgb(110, 173, 173);
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    padding: 10px;
    border: 2px solid salmon;
    margin: 0 auto;
    width: 5%
}
